@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    padding-top: 50px;
    font-family: 'Lato', sans-serif;
}

.u-center {
    text-align: center;
}

.u-uppercase {
    text-transform: uppercase;
}

.borang {
    width: 720px;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.borang  th {
    padding-left: 15px;
    padding-right: 15px;
}

.borang tr td {
    padding-top: 7px;
}

.ada-border {
    border: 1px solid black;
}