<table width="100%" border="1">
    <tr>
        <td>Main Menu</td>
    </tr>
    <tr>
        <td><a href="hi.html" target="_parent">Hi</a></td>
    </tr>
    <tr>
        <td><a href="places.html" target="_parent">My Favourite Places</a></td>
    </tr>
    <tr>
        <td><a href="skills.html" target="_parent">My Computing Skills</a></td>
    </tr>
    <tr>
        <td><a href="pictures.html" target="_parent">My Favourite Pictures</a></td>
    </tr>
    <tr>
        <td><a href="mailto:a155652@siswa.ukm.edu.my">Contact Me</a></td>
    </tr>
</table>
